/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 juin 2017, 11:25:48
    Author     : Damien Fontes
*/

#SectionPrincipale {
    margin-right: 350px;
    margin-left: 350px;
    font-size : 22px;
}

#SectionPrincipale h1 {
    text-decoration: underline;
}