/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 juin 2017, 11:25:48
    Author     : Damien Fontes
*/

.SectionPrincipale {
    margin-left: 24%;
    margin-right: 20%;
    font-size : 15px;
    margin-top: 1px;
    
}

li {
    text-align: left;
}

.SectionPrincipale h1 {
    text-decoration: underline;
}

#SectionNousContacter p {
    text-align: center;
}